.logo-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border: 1px solid #ccc;
}

.logo-wrapper img{
    border: 0;
    max-width: 100%;
}